body {
    /* background-image: url(cars.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
     */
     background-color: pink;
}

li {
    width: 100px;
    border: 2px solid black;
    border-radius: 2em;
    padding: 1px;
    margin: 1px;
    background-color: yellow;
    text-align: center;
    
  }
  .click {
      justify-content: center;
      display: flex;
      padding-top: 7px;
      
  }
  .regNumbers {
      justify-content: center;
      display: flex;
      margin: 2px;
      border-style: initial;
      
     
  }
  .towns{
      justify-content: center;
      display: flex;
      width: 100%;
      height: 2em;
     
      
  }
  .display{
      justify-content: center;
      display: flex;
  }
  .error{
      justify-content: center;
      display: flex;
      font-size: 30px;
      color: red;
  }